# Data files
*.csv

!00_setup/metadata/column_mapping.csv

*.parquet
*.json
banking_data/

# Python
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.env.*

# Databricks
.databricks/
*.dbc

# Secrets
*.pem
*.key
secrets/
config/local_*.py

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Virtual environments
venv/
.venv/

metadata_env/metadata_env/
metadata_env/
metadata_env/
banklens_app.py
banklens_gold_checkpoint.zip
banklens_platform_checkpoint.zip
streamlit_env/